/* 9-extended_lsit */

$so-red: #FF0000;
$extra-green: #00FF00;

.info {
  font-size: 12px;
}
.success {
  @extend .info;
  color: $extra-green;
}

.warning {
  @extend .info;
  color: $extra-green;
}